
<div class="card card--snapchat">
  <div class="card__header">
    <div class="card__info">
      <h3 class="card__subscription">{{ subscription?.title }}</h3>
      <p class="card__category">{{ subscription?.category }}</p>
      <p class="card__price">
        Вартість: {{ subscription?.pricePerMonth }} <span>дол.</span>/міс
      </p>
      <p class="card__expires">
        Діє до: <span class="card__expires-date">30 червня 2025</span>
      </p>
    </div>

    <div class="card__image-wrapper">
      <img src="assets/icons/social-snapchat-icon.png" alt="Snapchat logo" class="card__image">
     </div>
  </div>

  <div class="card__body">
    <p class="card__description">{{ subscription?.description }}</p>
    <button class="card__button">Купити</button>
  </div>
</div>
