<div class="session__overlay" *ngIf="sessionService.isVisible">
  <div class="session__box">
    <h2 class="session__title">Увійдіть в акаунт</h2>
    <div class="session__description">
      <p class="session__description-text">Щоб продовжити роботу на цьому сайті та здійснити покупку, натисніть "Увійти"</p>
  
    </div>
    <div class="session__actions">
      <button class="session__actions-btn" (click)="onSignIn()">Увійти</button>
      <button class="session__actions-btn" (click)="onExit()">Скасувати</button>
    </div>
  </div>
</div>
